@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;

  background: #8e9eab; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#eef2f3),
    to(#8e9eab)
  );
  background: -o-linear-gradient(left, #eef2f3, #8e9eab);
  background: linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  /* background-color: #ffc93c; */
  padding: 1.5rem;
  text-align: center;
}

header p {
  text-transform: capitalize;
}

hr {
  width: 100px;
  height: 5px;
  margin: 0 auto;
  background-color: black;
  color: black;
  border-radius: 5px;
  border: none;
}

h3 {
  margin-bottom: 0.5rem;
}

a {
  color: black;
}

.fa:hover,
button:hover {
  cursor: pointer;
}

.container {
  width: 70%;
  margin: 2.5rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  margin: 1rem;
  width: 100%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #fffffe;
}

.card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: fill;
  object-fit: fill;
}

.description {
  padding: 1rem;
}

.icon {
  padding: 0 1rem 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa {
  font-size: 20px !important;
  margin-right: 1rem;
}

.description h4 {
  padding: 0.5rem 0;
}

.custom-shape-divider-bottom-1617970174 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1617970174 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 55px;
}

.custom-shape-divider-bottom-1617970174 .shape-fill {
  fill: #00214d;
}

.btn {
  text-align: center;
}

button {
  border: none;
  outline: none;
  padding: 1rem;
  margin-bottom: 2.5rem;
  background-color: #00214d;
  color: white;
  border-radius: 5px;
}

.bottom {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
  background-color: black;
  padding: 0.5rem;
  color: white;
}

footer div {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  opacity: 0.5;
}

footer img {
  width: 15px;
  height: 20px;
}

@media only screen and (max-width: 540px) {
  .container {
    width: 100%;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .card {
    width: 80%;
    margin: 1rem auto;
  }
}
